{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="col-md-12 p-5 d-flex">

            <div class="d-flex justify-content-center align-items-center full-height">
                <img width="400" src="{% static 'images/Author/mine_photo.jpg' %}" alt="Author" class="img-fluid">
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center mr-5">
                <h1>SHAMSIDDINOV FAZLIDDIN FAXRIDDINOVICH</h1>
            </div>
        </div>
    </div>


{% endblock %}